header {
  background: red;
  width: 100%;
  display: block;
  clear: left;
}

nav {
  display: block;
  background: purple;
  width: 13%;
  margin-right: 2%;
  float: left;
}

#main {
  display: block;
  background: yellow;
  width: 70%;
  margin-right: 2%;
  float: left;
}

aside {
  display: block;
  background: green;
  width: 13%;
  float: left;
}

footer {
  float: left;
  background: blue;
  width: 100%;
  margin-top: 10px;
}

.placeholder {
  border: 1px solid black;
  background: rgba(255,255,255,.6);
  padding: 20px;
  height: 150px;
  margin: 10px;
}
